langchain
langchain-groq
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface
langgraph
langsmith
ollama

llama-index
llama-index-llms-langchain
llama-index-embeddings-langchain
chromadb
faiss-cpu

pygraphviz
bs4
pypdf
reportlab
wikipedia
arxiv
python-dotenv
streamlit